*{}

.header
{
    text-align:center;
}

.sidebar
{

}

.main_box
{
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_box div 
{
    font-size: 1.3rem;
    width: 380px;
    height: 380px;
    border: 3mm ridge rgba(60, 220, 75, .6);
}

p
{
    padding: 1em;
    margin: 0.5em;
}

.footer
{

}
